header {
  background-image: url("../images/fondo1.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  text-align: center;
  margin-right: -80px;
  padding-bottom: 440px; /* ajusta el valor según tus necesidades */
}

body {
  font-family: 'Toledo', sans-serif;
background-image: url("../images/fondoo.png");
  background-color: black;
  color: red;
  padding-right: 70px;
  padding-left: -20px;
  text-align: center;
  background-size: cover;
}


.container {
  box-sizing: border-box;
  position: relative;
  margin-left: 250px; /* ajusta la cantidad de margen según tu diseño */
  border: 10px solid red;
  border-radius: 20px;
  padding-right: 20px;
  left: 30px;
  top: 20px;
}

/* ... Resto del código ... */


.container-outer {
  margin-left: 250px; /* ajusta la cantidad de margen según tu diseño */
  position: relative;
}

.container-inner {
  box-sizing: border-box;
  border-radius: 1px;
  padding: 10px;
  position: absolute;
  top: 50px;
  left:170px;
  width: calc(110% - 630px); /* Resta el doble del padding y el doble del ancho del borde del ancho total */
    background-color: black
}




/* Pie de página */
footer {
    background-color: #2E4053;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

/* Párrafos */
p {
    font-size: 18px;
    color: #555555;
    color: white;
    line-height: 1.5;
    margin: 10px 0;
}



#indice {
    color: white;
    position: fixed;
    top: 300px;
    left: -22px;
    width: 300px;
    padding: 20px;
    background-color: transparent;
    color: white;
    font-size: 20px;
}


#indice .submenu a {
  font-size: 16px; /* ajusta el tamaño de fuente según tus necesidades */
}

#indice li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#indice .submenu li::before {
content: '';
display: inline-block;
width: 5px;
height: 5px;
margin-right: 10px;
border: 1px solid red;
border-radius: 25%; /* Agregar esta línea para hacer un círculo /
background-color: red; / Agregar esta línea para cambiar el color de fondo */
}

#inicio {
    margin-left: 0;
}

nav ul li a:visited {
  color: white;
}

nav ul li a {
  color: #fff;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: red;
}



/* Estilo del contenido principal */
#contenido {
    margin-left: 20%;
    padding: 20px;
    box-sizing: border-box;
}
nav a.active {
  /* Estilos para el elemento activo */
}

nav {
  text-align: left;
  margin-top: -120px;

}

h1, h2, h3 {
  color: red;
    font-family: 'Toledo', sans-serif;
      font-weight: 600;


    font-size: 56px;
    margin-bottom: 60px;
    text-align: center;
}

#seccion0 {
margin-bottom: 50px;
}

p {
  font-size: 25px;
  margin: 0 30px;
}


.player-container {
  position: fixed;
  bottom: 900px; ambiar a un valor mayor */
  left: 0;
  background-color: black !important;
  padding: -10px;
  border-radius: 35px;
  max-width: 800px;
  margin: 0 auto;
    
}




/* Estilos para el elemento de audio */
#audioPlayer {
  display: none; /* Esconde el elemento de audio */
}

/* Estilos para los botones de control */
.play-button,
.pause-button,
.next-button,
.back-button {
  border: none;
  background-color: #333;
  color: #fff;
  padding: 2px 5px;
  border-radius: 22%;
  font-size: 1rem;
  margin: 20px; 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.play-button:hover,
.pause-button:hover,
.next-button:hover,
.back-button:hover {
  background-color: #666;
}

#songTitle {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 999;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px; /* ancho máximo del contenedor */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
  margin-left:22px;
}

.row img {
  margin-bottom: 50px;
    margin-left:-120px;
}

.recuadro {
  background-color: black;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  height: 150px;
  width: 20%;
  max-width: 180px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recuadro.clicked {
  background-color: green;
}

.zoomable {
  transition: transform .2s ease-in-out;
  cursor: pointer;
}

.zoomable:hover {
  transform: scale(1.5);
}

#seccion1 {
  margin-top: 50px; /* ajusta el valor según la separación que desees */
    margin-bottom: 50px;
    
}

#seccion2 {
margin-top: 50px /* ajusta el valor según la separación que desees */
}

#seccion3 {
margin-top: 50px /* ajusta el valor según la separación que desees */
}

#seccion0 {
margin-top: 50px /* ajusta el valor según la separación que desees */
}


.recuadro {
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.recuadro.verde {
  background-color: green;
  color: white;
}
